<html>
  <head>
    <title>Anonymous's Netflix</title>
    <script async src="/index.js"></script>
  </head>
  <body bgcolor="white">
    <h1>Anonymous's Netflix</h1>
    <h1 id="access-user"></h1>
    <div>
      <a href='/archive/Movies'>Movies</a><br>
      <a href='/archive/TV_Programs'>TV_Programs</a><br>
      <a href='/archive/Documentaries'>Documentaries</a><br>
      <a href='/archive/torrents'>torrents</a><br>
    </div>
  </body>
</html>