<html>
  <head>
    <script src="/login-process.js"></script>
  </head>
  <body>
    <script type="text/javascript">
      saveAccessKey("<%= key %>")
      saveAccessUser("<%= user %>")
      window.location.href = 'http://home.hyunsub.kim:8000/';
    </script>
  </body>
</html>